.headerWrap {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav_wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 31px;
}

.nav_wrapper li {
  position: relative;
}

.nav_wrapper a {
  text-decoration: none;
  font-size: 15px;
  color: #707070;
  margin: 0 15px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nav_wrapper a:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/* END OF HEADER */

.article_boxes {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box_content {
  margin-bottom: 100px;
}

.box_content span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  margin-top: 32px;
}

.box_content h5 {
  font-size: 18px;
  padding-top: 12px;
  color: #000000;
  font-weight: 500;
}

.box_content p {
  font-size: 15px;
  color: #000000;
  padding-top: 16px;
  font-weight: 300;
}

/* END OF HOME PAGE */

.footerWrap {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 311px;
}

.footerWrap ul {
  display: flex;
}

.footerWrap a,
p {
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  color: #9FA1AA;
}

.slash::before {
  content: none;
  position: absolute;
} 

.slash {
  margin: 0 8px ;
}